<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TDB</title>
  <link rel="stylesheet" href="../static/css/global.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/download.css">
</head>
<body>
  <nav class='navbar'>
    <div class='menuIcon'>
      <div class='menuBar1'></div>
      <div class='menuBar2'></div>
      <div class='menuBar3'></div>
    </div>
    <a class="tdbLogo" href="../index.html">
      <figure>
        <img src='../static/icons/database_icon.svg' alt="Ícone do Theobroma DataBase" />
      </figure>
      <h2>TDB</h2>
    </a>
    <ul class='navbarTools'>
      <li>
        <a href="../index.html">
          <img src='../static/icons/home_fill_icon.svg' alt="Ícone de início" />
          Home
        </a>
      </li>
      <li>
        <span class='toolsBttn'>
          <img src='../static/icons/tools_icon.svg' alt="Ícone de ferramentas" />
          Tools
        </span>
        <div class='dropDown'>
          <a href="./blast.html">
            <img src='../static/icons/genetic_icon.svg' alt="BLAST tool icon " />
            BLAST
          </a>
          <a href="./jbrowse.html">
            <img src='../static/icons/genetic_icon.svg' alt="JBROWSE tool icon" />
            JBROWSE
          </a>
        </div>
      </li>
      <li>
        <a href="./download.html">
          <img src="../static/icons/download_icon.svg" alt="Ícone de download" />
          Download
        </a>
      </li>
      <li>
        <a href="./about.html">
          <img src='../static/icons/info_icon.svg' alt="Ícone de informações" />
          About
        </a>
      </li>
    </ul>
    <div class='searchBttn'>
      <input 
        type="text" 
        name="searchButton" 
        id="searchButton"
      />
    </div>
  </nav>

  <section class='downloadPageContainer'>
    <div class='pageTitle'>
      <figure>
        <img src='../static/icons/download_icon.svg' alt="Ícone de download" />
      </figure>
      <h1>Download</h1>
    </div>
    <h2 class='pageSubtitle'>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h2>
    <div class='downloadLinks'>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>Criollo (NCBI)</h3>
      </a>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>Matina (NCBI)</h3>
      </a>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>C1074</h3>
      </a>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>C174</h3>
      </a>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>Criollo <br /> (New Annotation)</h3>
      </a>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>Matina <br /> (New Annotation)</h3>
      </a>
    </div>
  </section>
</body>
</html>