.container{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bttn);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
}

.logo{
  display: flex;
  align-items: center;
  gap: .5rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: var(--white);
}

.logo figure{
  width: 5.5rem;
  display: flex;
  position: relative;
  top: .1rem;
  opacity: 0;
  animation: logoAnimation 1s ease-in-out .3s forwards;
}

.logo figure img{
  width: 100%;
}

.logo span{
  border: 1px solid;
  color: var(--color-bttn);
  background-image: linear-gradient(#ADC178 50%, #FFF);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loadingTextAnimation 2s ease-in-out .4s forwards;
}

@keyframes logoAnimation {
  100%{
    opacity: 1;
  }
}

@keyframes loadingTextAnimation {
  0%{
    background-position: 0% 0%;
  } 
  100%{
    background-position: -100% 121%;
  }
}

@media screen and (min-width: 425px) {
  .logo{
    font-size: 6rem;
  }

  .logo figure{
    width: 6.5rem;
  }
}