<DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/cocoa.png') }}"/>
    <title>Theobroma DB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <section class="container.is-fullhd" >        
        <nav class="navbar" style="padding:0px 100px 0px 0x; background-color: #ADC178;">
            <div class="navbar-brand">
                <a class="navbar-burger" id="burger">
                </a>
            </div>
            <div class="navbar-menu" id="nav-links" style="font-size: 13px;">
                <div class="navbar-start">
                    <a class="navbar-item" href="/index">
                        HOME
		            </a>
                    <a class="navbar-item" data-target="Criollo">
                        Criollo
	                </a>
        	        <a class="navbar-item" data-target="Matina">
	                    Matina
	                </a>
			        <a class="navbar-item" data-target="C174">
	                    C174
	                </a>
			        <a class="navbar-item" data-target="C174 - Diploid">
	                    C174 - Diploid
	                </a>
			        <a class="navbar-item" data-target="C1074">
	                    C1074
	                </a>
			        <a class="navbar-item" data-target="C1074 - Diploid">
	                    C1074 - Diploid
	                </a>
                </div>
		    <div class="navbar-end navbar-item" style="padding: 13px 0px 0px 0px">
			    <form class="form-inline" method="POST" id="form-search" action="/search_engine">
                                        <input class="form-control" data-target="Search-page" type="text" name="search_input" placeholder="Search Gene/Genome" aria-label="Search Gene/Genome/Function" style="height: 21px; border-radius: 10px 10px 10px 10px">
                    					<input class="btn btn-primary" type="submit" value="Search" data-target="search-engine" style="height: 40px; border-radius: 10px 10px 10px 10px">
                                </form>
                    </div>
    
            </div>
            
        </nav>
        
    <section class="container.is-fullhd" >

        <div class="container.is-fullhd" id="tab-content">

            <div class="is-active">
                <center> <img src="../static/assets/browse2.png"> </center>

        </div>
        </div>
    <div class="container.is-fullhd" id="tab-content">
	        <div class="is-hidden" id="Criollo">
                <iframe src="../static/dados/Criollo_new/index_criollo.html" width="75%" height="90%"></iframe>
        	    <img src="../static/images/Criollo-idiogram.png" style="position: fixed; width: 450px; top: 70px">
            </div>
        </div>
<!-- 
	<div class="container.is-fullhd" id="tab-content">
            <div class="is-hidden" id="Matina">
                <iframe src="static/jbrowse2/Matina/index.html" frameborder="0" width="100%" height="600px"></iframe>
                <img src="../static/images/Matina-idiogram.png" width="370px" style="margin: 10px 100px">
            </div>
        </div>

	<div class="container.is-fullhd" id="tab-content">
            <div class="is-hidden" id="C174">
                <iframe src="static/jbrowse2/C174_jbrowse/index.html" frameborder="0" width="100%" height="600px"></iframe>
                <img src="../static/images/C174-idiogram.png" width="370px" style="margin: 10px 100px">
            </div>
        </div>

	<div class="container.is-fullhd" id="tab-content">
            <div class="is-hidden" id="C174 - Diploid">
                <iframe src="static/jbrowse2/C174_jbrowse_diploide/index.html" frameborder="0" width="100%" height="600px"></iframe>
                <img src="../static/images/C174P-idiogram.png" width="570px" style="margin: 10px 100px">
          </div>
        </div>

	<div class="container.is-fullhd" id="tab-content">
            <div class="is-hidden" id="C1074">
                <iframe src="static/C1074/index.html" frameborder="0" width="100%" height="600px"></iframe>
                <img src="../static/images/C1074-idiogram.png" width="370px" style="margin: 10px 10px">
            </div>
        </div>

	<div class="container.is-fullhd" id="tab-content">
            <div class="is-hidden" id="C1074 - Diploid">
                <iframe src="static/jbrowse2/C1074_jbrowse_diṕloide/index.html" frameborder="0" width="100%" height="600px"></iframe>
                <img src="../static/images/C1074P-idiogram.png" width="570px" style="margin: 100px 10px">
            </div>
        </div>
    
        -->
    </section>
    
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</body>
</html>
