<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TDB</title>
  <link rel="stylesheet" href="../static/css/global.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/download.css">
  
  <script src="../static/js/navbar.js" defer></script>
</head>
<body>
  <nav class='navbar'>
    <div class='menuButton'>
      <div class='menuBar1'></div>
      <div class='menuBar2'></div>
      <div class='menuBar3'></div>
    </div>
    <a class="tdbLogo" href="/index.html">
      <figure>
        <img src='../static/imgs/logo-tdb-v2.svg' alt="Ícone do Theobroma DataBase" />
      </figure>
    </a>
    <ul class='navbarTools'>
      <li>
        <a href="/index.html">
          <img src='../static/icons/home_fill_icon.svg' alt="Ícone de início" />
          Home
        </a>
      </li>
      <li>
        <span class='toolsBttn'>
          <img src='../static/icons/tools_icon.svg' alt="Ícone de ferramentas" />
          Tools
        </span>
        <div class='dropDown'>
          <a href="/blast">
            <img src='../static/icons/genetic_icon.svg' alt="BLAST tool icon " />
            BLAST
          </a>
          <a href="/jbrowse">
            <img src='../static/icons/genetic_icon.svg' alt="JBROWSE tool icon" />
            JBROWSE
          </a>
          <a href="/clustalw">
            <img src='../static/icons/genetic_icon.svg' alt="CLUSTAL tool icon" />
            CLUSTALW
          </a>
		  <a href="/tree_run">
            <img src='../static/icons/genetic_icon.svg' alt="TREE tool icon" />
           FiloTree
          </a>
        </div>
      </li>
      <li>
        <a href="/download">
          <img src="../static/icons/download_icon.svg" alt="Ícone de download" />
          Download
        </a>
      </li>
      <li>
        <a href="/about">
          <img src='../static/icons/info_icon.svg' alt="Ícone de informações" />
          About
        </a>
      </li>
    </ul>
    <div class='searchBttn'>
      <form class="form-inline" method="POST" id="form-search" action="/search_engine">
        <input class="form-control" data-target="Search-page" type="text" name="search_input" placeholder="Search Gene/Genome" aria-label="Search Gene/Genome/Function">
    	<input class="btn btn-primary" type="submit" value="Search" data-target="search-engine">
      </form>
    </div>
  </nav>

  <section class='downloadPageContainer'>
    <div class='pageTitle'>
      <figure>
        <img src='../static/icons/download_icon.svg' alt="Ícone de download" />
      </figure>
      <h1>Download</h1>
    </div>
    <h2 class='pageSubtitle'>
        Reference links to donwload data (contain external links)
    </h2>
    <div class='downloadLinks'>
      <a href="https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000208745.1/">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>Criollo (NCBI) (PRJNA341501)</h3>
      </a>
      <a href="https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000403535.1/">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>Matina (NCBI) (PRJNA239715)</h3>
      </a>
      <a href="https://www.ncbi.nlm.nih.gov/datasets/genome/GCA_036013995.1/">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>C1074 (NCBI) (PRJNA691024)</h3>
      </a>
      <!--<a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>C1074 (PRJNA694024)</h3>
      </a>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>C174 (PRJNA694024)</h3>
      </a>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>Criollo <br /> (New Annotation)</h3>
      </a>
      <a href="">
        <figure>
          <img src='../static/icons/genetic_icon.svg' alt="Ícone de genoma" />
        </figure>
        <h3>Matina <br /> (New Annotation)</h3>
      </a>-->
    </div>
  </section>
</body>
</html>
