<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="shortcut icon" href="{{ url_for('static', filename='..//static//assets//cocoa.png') }}"/>-->
    <title>Theobroma DB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <style>
        .quarter{
            width: 400;
            height: 300;
            border-top-right-radius:0;
            border-top-left-radius:0;
            border-bottom-right-radius:100%;
            border-bottom-left-radius:0;
            background: red;
        }
    </style>
</head>
<body>
    <section >


        <nav class="navbar" style="padding:0px 30px 0px 12px; background-color: #DDE5B6;">
            <div class="navbar-brand">
                <a class="navbar-burger" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="navbar-menu" id="nav-links" style="font-size: 15px;">
                <div>
                    <h1 class="quarter" style="padding-bottom: 70px; padding-top: 15px;padding-left: 1px; padding-right:20px; background-color: #ADC178; font-size: 35px; ">
                    Theobroma DB
                    </h1>
                </div>
                <div class="navbar-start">
                    <a class="navbar-item {{ home_bar_classes }}" data-target="home-page">
                        HOME
                    </a>
                    <a class="navbar-item {{ blast_bar_classes }}" data-target="blast-page">
                        BLAST
                    </a>
                    <a class="navbar-item {{ sequence_bar_classes }}" data-target="sequence-server">
                        SEQUENCE SERVER
                    </a>
                    <a class="navbar-item" href="/jbrowse">
                        BROWSE
                    </a>
                    <a class="navbar-item" data-target="phylotree-page">
                        PHYLOGENETIC TREE
                    </a>
                    <a class="navbar-item" data-target="download-page">
                        DOWNLOAD
                    </a>
                    <a class="navbar-item" data-target="contact-page">
                        CONTACT US
                    </a>
                </div>
            </div>
        </nav>
    </section>
    <section class="container is-max-desktop" >
        <div style="">
            <div>
                <!-- Imagem principal-->
                <figure class="image" style="max-height: 512px; max-width: 512px">
                <img src="../static/assets/CirculoBolinhas.png">
                </figure>

            </div>
            <div style="position: relative; top: -165px">
                <!-- inferior esquerdo-->
                <a href="#">
                <figure class="image" style="max-height: 80px; max-width: 80px">
                <img src="../static/assets/cocoa.png">
                </figure>
                </a>
            </div>
            <div style="position: relative; top: -245px; left: 410px">
                <!-- inferior direito-->
                <a href="#">
                <figure class="image" style="max-height: 80px; max-width: 80px">
                <img src="../static/assets/cocoa.png">
                </figure>
                </a>
            </div>
            <div style="position: relative; top: -575px; left: 410px">
                <!-- superior direito-->
                <a href="#">
                <figure class="image" style="max-height: 80px; max-width: 80px">
                <img src="../static/assets/cocoa.png">
                </figure>
                </a>
            </div>
            <div style="position: relative; top: -650px; left: 10px">
                <!-- superior esquerdo-->
                <a href="#">
                <figure class="image" style="max-height: 80px; max-width: 80px">
                <img src="../static/assets/cocoa.png">
                </figure>
                </a>
            </div>
            <div style="position: relative; top: -400px; left: 200px">
                <!-- inferior (meio)-->
                <a href="#">
                <figure class="image" style="max-height: 80px; max-width: 80px">
                <img src="../static/assets/cocoa.png">
                </figure>
                </a>
            </div>
            <div style="position: relative; top: -900px; left: 200px">
                <!-- superior (meio)-->
                <a href="#">
                <figure class="image" style="max-height: 80px; max-width: 80px">
                <img src="../static/assets/cocoa.png">
                </figure>
                </a>
            </div>
        </div>

    </section>
    <!-- Start Hero Carousel -->
		<div class="column is-2" style="position: relative; top: -850px; left: 275px">
			<section class="hero is-medium has-carousel">
				<div id="carousel-demo" class="hero-carousel">
					<div class="item-1">
						<img src="../static/assets/cupuacu.jpg" width="150px">
					</div>
					<div class="item-2">
						<img src="../static/assets/Cupuacu2.jpg" width="150px">
					</div>
					<div class="item-3">
						<img src="../static/assets/cacau-.jpg" width="150px">
					</div>
				</div>
				<div class="hero-head"></div>
				<div class="hero-body"></div>
				<div class="hero-foot"></div>
			</section>
		</div>
		<!-- End Hero Carousel -->
    <section class="section">
        <div class="container is-max-desktop" id="tab-content">
            <div class="{{ home_classes }}" id="home-page">
                <div class="columns">
                    <div class="column is-narrow">
                        <div class="box" style="width: 200px;">
                            <figure class="image is-3by5">
                                <img src="../static/assets/cacau1.png">
                            </figure>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box" >
                            <p class="title is-5">Species Description</p>
                            <p class="subtitle">The cupuaçu tree, cupuaçueiro or cupu, is native to the Amazon Basin and is found most often in the north and northeast regions, in the states of Amapá, Pará, and Amazonas. Its tree can reach an average height of 10 to 25 meters and in cultivated areas the height varies from 6 to 10 meters.;
                            <p class="subtitle">Scientific name: Theobroma grandiflorum; <br>
			    Native names: <i>"Cupuaçu" (Pará)</i>, <i>"pupu or pupuaçu" (Maranhão)</i>, <i>"cocoa-cupuaçu" (Bahia)</i> or <i>"cupu" (Pará and Acre)</i>; <br>
                            Flowers: Simple and remain on their branches; <br>
                            Fruits: Spherical or ovoid-shaped, up to 25 cm long; <br>
                            Flowering: January to May;<br>
			    Fructification: The fruit has a hard and smooth peel, and a dark brown color; <br>
                            Uses: Ice creams, juices, vitamins, sweets, etc.
                            </p>
                            <form action="https://www.nature.com/articles/ng.736">
                                <button class="button is-primary" style="background-color: #5cadcb;" type="submit" >Learn More... </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="{{ blast_classes }}" id="blast-page">
                <h1 class="title">Blast</h1>
                <form method="POST" enctype="multipart/form-data">
                    <div class="select">
                        <select name="modoBlast" id="mBlast">
                            <option value="1">BlastN</option>
			    <option value="2">BlastP</option>
                            <option value="3">BlastX</option>
                            <option value="4">tBlastN</option>
                        </select>
                    </div>
                    <div class="select">
                        <select name="escolhaGenoma" id="genoma">
			                <option value="0">NC_030850.1.fasta</option>
                            <option value="1">CM001879.1.fasta</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <textarea class="textarea" placeholder="Sequência em formato FASTA" id="nucleotideo" name="nucleotideo" rows="9"></textarea>
                    <br>
                    <h3>Ou enviar arquivo</h3>
                    <br>
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            <input class="file-input" type="file" name="file">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Escolha um Arquivo
                                </span>
                            </span>
                            <spam class="file-name">
                                Nenhum Arquivo Selecionado
                            </spam>
                        </label>
                        <input class="button is-primary" type="submit">
                    </div>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="is-hidden" id="sequence-server">
                <iframe src="http://localhost:4567/" frameborder="0" width="100%" height="760px"></iframe>
            </div>
                  
            <div class="is-hidden" id="phylotree-page">
                <h1 class="title">Phyogenetic tree</h1>
                <div class="field is-horizontal">
                    <form method="POST" enctype="multipart/form-data">
                        <label class="checkbox">
                            <input class="checkbox" type="checkbox" name="genoma1" value="treeCM001879.1">
                            CM001879.1.fasta
                        </label>
                        <br>
                        <label class="checkbox">
                            <input class="checkbox" type="checkbox" name="genoma2" value="treeNC_030850.1">
                            NC_030850.1.fasta
                        </label>
                        <br>
                        <br>
                        <textarea class="textarea" placeholder="Sequência em formato FASTA" name="tree-nucleotideo" rows="9"></textarea>
                        <br>
                        <br>
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                <input class="file-input" type="file" name="tree-file">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Escolha um Arquivo
                                    </span>
                                </span>
                                <spam class="file-name">
                                    Nenhum Arquivo Selecionado
                                </spam>
                            </label>
                            <input class="button is-primary" type="submit" value="Gerar">
                        </div>
                    </form>
                </div>
            </div>
            <div class="is-hidden" id="download-page">
                <h1 class="title">Download</h1>
				<p class="subtitle"> &nbsp </p>
			    <p class="subtitle">Genoma 1: <a href="https://www.ncbi.nlm.nih.gov/nuccore/342240206?report=fasta"> NC_030850.1 a NC_030859.1 </a> </p>
			    <p class="subtitle">Genoma 2: <a href="https://www.ncbi.nlm.nih.gov/nuccore/508078138?report=fasta"> CM001879.1 a CM001888.1  </a> </p>
            </div>
	    <div class="is-hidden" id="contact-page">
                <h1 class="title">Contact us</h1>
                                <p class="subtitle"> &nbsp </p>
                            <p class="subtitle">Pedro Augusto: email: pedfar321@gmail.com </p>
                            <p class="subtitle">Amanda Sammer: email: amandasammerbrandao@gmail.com </p>
			    <p class="subtitle">José Maria: email: josemjuniortk@gmail.com</p>
            </div>

        </div>
    </section>
    <!--<script src="{{ url_for('static', filename='javascript/index.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
		<script>
		bulmaCarousel.attach('#carousel-demo', {
			slidesToScroll: 1,
			slidesToShow: 1
		});
		</script>
</body>
</html>
